[submodule "externals/REFPROP-headers"]
	path = externals/REFPROP-headers
	url = https://github.com/CoolProp/REFPROP-headers
[submodule "externals/REFPROP-cmake"]
	path = externals/REFPROP-cmake
	url = https://github.com/usnistgov/REFPROP-cmake
[submodule "wrappers/Mathcad/externals/fmtlib"]
	path = externals/fmtlib
	url = https://github.com/fmtlib/fmt.git
