*~
*.[oa]

# Keep bare minimum VS files to build Mathcad 15 wrapper
build15/x64
build15/Release
build15/.vs
build15/*.db
build15/*.user
build15/*.filter

# Keep bare minimum VS files to build Mathcad Prime wrapper
buildPrime/x64
buildPrime/Release
buildPrime/.vs
buildPrime/*.db
buildPrime/*.user
buildPrime/*.filter